body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 600px;
  background-color: white;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.title {
    text-align: center;
    width: 100%;
}

.video-container {
    width: 100%;
    margin: 20px 0;
}

video {
  width: 100%;
  height: auto;
  border: 1px solid white;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-around;
}